@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');


$outer-width: 160px;
$inner-width: 100px;
$donut-background-color: rgb(33, 35, 47);
$donut-foreground-color: white;
$donut-center-color: rgb(25, 27, 35);
$label-color: rgb(102, 106, 128);

.donut-meter-container {
	width: $outer-width;
	height: $outer-width/2 + 20px;
}

.donut-meter {
	position: relative;
	overflow: hidden;
	width: $outer-width;
	height: $outer-width/2;
}

.donut-background {
	position: absolute;
	width: $outer-width;
	height: $outer-width/2;
	border-top-left-radius: $outer-width;
	border-top-right-radius: $outer-width;
	background: $donut-background-color;
}

.donut-foreground {
	position: absolute;
	width: $outer-width;
	height: $outer-width/2;
	border-top-left-radius: $outer-width;
	border-top-right-radius: $outer-width;
	transform-origin: bottom center;
	background-color: $donut-foreground-color;
	animation: donut-rotate 0.5s linear;
	transition: 0.5s all ease-out;
}

@keyframes donut-rotate {

	0% {
		transform: rotate(-180deg);
	}
}

.donut-center {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: $inner-width;
	height: $inner-width/2;
	bottom: 0;
	left: ($outer-width - $inner-width)/2;
	border-top-left-radius: $outer-width;
	border-top-right-radius: $outer-width;
	transform-origin: bottom center;
	background-color: $donut-center-color;	
}

.donut-meter-score {
	font-size: 1.8em;
	color: white;
	font-family: bakbak one;
}

.donut-meter-labels {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.donut-meter-labels label {
	width: ($outer-width - $inner-width)/2;
	text-align: center;
	text-transform: uppercase;
	font-family: Karla;
	color: $label-color;
}